.stickman-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    left: calc(50% - 25px);
    top: 30px;
}

.thread {
    position: absolute;
    height: 30px;
    border-left: solid;
    left: calc(50% - 1px);
}

.stickman-body {
    width: 0px;
    height: 60px;
    border-left: solid;
    position: absolute;
    left: calc(50% - 1px);
    top: 80px;
}

.left-arm {
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    rotate: -30deg;
    transform-origin: left;
    top: 110px;
    left: calc(50%);
}

.right-arm {
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    rotate: 30deg;
    transform-origin: right;
    top: 110px;
    right: calc(50%);
}

.left-leg {
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    top: 135px;
    right: 50%;
    rotate: -45deg;
    transform-origin: right;
}

.right-leg {
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    top: 135px;
    left: 50%;
    rotate: 45deg;
    transform-origin: left;
}

.base {
    width: 150px;
    height: 2px;
    background: black;
    position: absolute;
    bottom: 0;
    translate: -20px 0;
}

.relative {
    position: relative;
}

.stickman-post {
    position: relative;
    width: 150px;
    height: 200px;
    border-top: solid;
    border-left: solid;
}